body{
    background-color: rgb(225, 248, 248);
    margin: 0;
}
.headerContainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 2vh;
    background-color: bisque;
}
#mainContainer{
    background-image: url("https://images.unsplash.com/photo-1607799279861-4dd421887fb3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80");
}