
.about{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 500px;
    background: linear-gradient(rgb(20, 28, 53) , rgb(27, 35, 58))
}
.about div{
    padding: 12%;
}
.aboutme{
    width: 49%;
}
.aboutme p{
    color: rgb(226, 202, 248);
    font-size:x-large;
    font-family: 'Quintessential', cursive;
}
.aboutmeImage{
    width: 50%;
}