.about {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 500px;
  background: linear-gradient(rgb(20, 28, 53), rgb(27, 35, 58));
  overflow: hidden;
  div {
    padding-left: 20%;
  }
}
.aboutme {
  padding-right: 14%;
  overflow: hidden;
  p {
    color: rgb(226, 202, 248);
    font-size: x-large;
  }
}

.aboutmeImage {
  padding-right: 5%;
  padding-left: 1% !important;
  overflow: hidden;
}

@media only screen and (max-width: 600px) {
  .about {
    width: 1024px !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .aboutme {
    margin-left: 5%;
  }
  .aboutmeImage {
    margin-left: 25%;
  }
}
