.headerContainer{
    display: flex;
    justify-content: space-evenly;
    padding: 2vh;
    background-color: rgb(17, 13, 68);
    background: linear-gradient(rgb(17, 13, 68),rgb(20, 28, 53));
    color: antiquewhite;
}