#samples{
    background: linear-gradient(rgb(27, 35, 58), rgb(20, 28, 61))
}
.sampleContainer{
    display: flex;
    color: antiquewhite; 
}
.sampleContainer div{
    padding: 10%;
}
.sampleLinks{
    width: 49%
}
.sampleLinkWindow{
    width: 50%;
}