#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #0d2b3b;
  background: -webkit-gradient(linear, left top, left bottom, from(#141C3C), to(#0d3a3b));
  background: linear-gradient(#141C3C, #0d3a3b);
  padding: 2vh;
}

.bottom-container {
  color: bisque;
  padding-top: 70px;
  height: 120px;
  text-align: center;
}

.bottom-container img {
  width: 40px;
  margin-left: 20px;
}

.react {
  width: 60px;
  position: relative;
  -webkit-animation-name: easeIn;
          animation-name: easeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.js {
  width: 60px;
  position: relative;
  -webkit-animation-name: roll;
          animation-name: roll;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.ruby {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.rails {
  width: 40px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.html5 {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollInrigtcorner;
          animation-name: rollInrigtcorner;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.css3 {
  width: 60px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.sacc {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.psql {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollInright;
          animation-name: rollInright;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mdb {
  width: 70px;
  position: relative;
  -webkit-animation-name: rollInright;
          animation-name: rollInright;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.postman {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.rest {
  width: 50px;
  position: relative;
  -webkit-animation-name: easeIn;
          animation-name: easeIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.git {
  width: 50px;
  position: relative;
  -webkit-animation-name: roll;
          animation-name: roll;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes easeIn {
  from {
    top: 400px;
  }
  to {
    top: 0px;
  }
}

@keyframes easeIn {
  from {
    top: 400px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes roll {
  from {
    top: -400px;
  }
  to {
    top: 0px;
  }
}

@keyframes roll {
  from {
    top: -400px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-800px) rotate(-360deg);
            transform: translateX(-800px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-800px) rotate(-360deg);
            transform: translateX(-800px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@-webkit-keyframes rollInright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(800px) rotate(-560deg);
            transform: translateX(800px) rotate(-560deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollInright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(800px) rotate(-560deg);
            transform: translateX(800px) rotate(-560deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@-webkit-keyframes rollInrigtcorner {
  from {
    top: 0px;
    right: 0px;
  }
  0% {
    opacity: 0;
    -webkit-transform: translateX(900px) rotate(-360deg);
            transform: translateX(900px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollInrigtcorner {
  from {
    top: 0px;
    right: 0px;
  }
  0% {
    opacity: 0;
    -webkit-transform: translateX(900px) rotate(-360deg);
            transform: translateX(900px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(#141c35), to(#1b233a));
  background: linear-gradient(#141c35, #1b233a);
  overflow: hidden;
}

.about div {
  padding-left: 20%;
}

.aboutme {
  width: 49%;
  padding-right: 13%;
  overflow: hidden;
}

.aboutme p {
  color: #e2caf8;
  font-size: x-large;
  font-family: 'Zen Kurenaido', sans-serif;
}

.aboutmeImage {
  width: 50%;
  padding-right: 5%;
  padding-left: 1% !important;
  overflow: hidden;
}

#samples {
  background: -webkit-gradient(linear, left top, left bottom, from(#1b233a), to(#141c3d));
  background: linear-gradient(#1b233a, #141c3d);
}

.sampleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f7d5a8;
  padding-bottom: 10%;
  height: 500px;
  overflow: hidden;
}

.sampleLinks {
  width: 49%;
  padding-left: 10%;
  padding-top: 10%;
}

.sampleLinks h4 {
  font-size: x-large;
  font-family: 'Zen Kurenaido', sans-serif;
}

.sampleLinks a {
  text-decoration: none;
  color: antiquewhite;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: large;
  line-height: 2;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #18203B), color-stop(20%, #3220d3));
  background: linear-gradient(to bottom, #18203B 90%, #3220d3 20%);
}

.sampleLinkWindow {
  width: 50%;
  padding-top: 10%;
  overflow: hidden;
}

.formname {
  height: 100%;
}

#one {
  height: 400px;
  width: 95%;
}

#openBrowser {
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
          box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #599bb3), to(#408c99));
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

#openBrowser:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #408c99), to(#599bb3));
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

#scrollButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 85%;
  left: 47%;
  text-align: center;
  -webkit-animation: btnScroller 4s infinite;
          animation: btnScroller 4s infinite;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  line-height: 0.5;
}

#scrollButton p {
  border-radius: 10%;
  background-color: transparent;
  color: white;
}

@-webkit-keyframes btnScroller {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes btnScroller {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

#mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 640px;
  min-width: 1024px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #2495f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#110d44), to(#141c35));
  background: linear-gradient(#110d44, #141c35);
}

#mainContainer p {
  margin: 0;
}

#mainContainer h1 {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 70px;
  margin-bottom: 0;
}

#mainContainer h2 {
  font-family: 'Quintessential', cursive;
  margin-bottom: 20%;
}

.abstractImage {
  position: absolute;
  left: -450px;
  top: 300px;
}

.vrtLine {
  background-color: #1e4b3c;
  height: 350px;
  width: 2px;
  margin-bottom: 100px;
  position: fixed;
}

.headding {
  width: 49%;
  padding-left: 20%;
}

.logosContainer {
  width: 49%;
}

.logosContainer img {
  padding-right: 3%;
}

.fade-in-left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.fade-in-right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.fade-in-right, .fade-in-left {
  transition: opacity 250ms ease-in, -webkit-transform 1.5s ease-in;
  -webkit-transition: opacity 250ms ease-in, -webkit-transform 1.5s ease-in;
  transition: opacity 250ms ease-in, transform 1.5s ease-in;
  transition: opacity 250ms ease-in, transform 1.5s ease-in, -webkit-transform 1.5s ease-in;
  opacity: 0;
}

.fade-in-right.appear,
.fade-in-left.appear {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

::-webkit-scrollbar {
  width: 0;
}

#scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

@-webkit-keyframes animate {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

#progressbar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

#progressbar:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#008aff), to(#00ffe7));
  background: linear-gradient(to top, #008aff, #00ffe7);
  -webkit-filter: blur(30px);
          filter: blur(30px);
}
/*# sourceMappingURL=styles.css.map */