.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2vh;
  background-color: #110d44;
  background: -webkit-gradient(linear, left top, left bottom, from(#110d44), to(#141c35));
  background: linear-gradient(#110d44, #141c35);
  color: antiquewhite;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #8ab7d1;
  padding: 2vh;
}

.react {
  width: 60px;
  position: relative;
  -webkit-animation-name: easeIn;
          animation-name: easeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.js {
  width: 60px;
  position: relative;
  -webkit-animation-name: roll;
          animation-name: roll;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.ruby {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.rails {
  width: 40px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.html5 {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollInrigtcorner;
          animation-name: rollInrigtcorner;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.css3 {
  width: 60px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.sacc {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.psql {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollInright;
          animation-name: rollInright;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.mdb {
  width: 70px;
  position: relative;
  -webkit-animation-name: rollInright;
          animation-name: rollInright;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.postman {
  width: 50px;
  position: relative;
  -webkit-animation-name: rollIn;
          animation-name: rollIn;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes easeIn {
  from {
    top: 400px;
  }
  to {
    top: 0px;
  }
}

@keyframes easeIn {
  from {
    top: 400px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes roll {
  from {
    top: -400px;
  }
  to {
    top: 0px;
  }
}

@keyframes roll {
  from {
    top: -400px;
  }
  to {
    top: 0px;
  }
}

@-webkit-keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-800px) rotate(-360deg);
            transform: translateX(-800px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-800px) rotate(-360deg);
            transform: translateX(-800px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@-webkit-keyframes rollInright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(800px) rotate(-560deg);
            transform: translateX(800px) rotate(-560deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollInright {
  0% {
    opacity: 0;
    -webkit-transform: translateX(800px) rotate(-560deg);
            transform: translateX(800px) rotate(-560deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@-webkit-keyframes rollInrigtcorner {
  from {
    top: 0px;
    right: 0px;
  }
  0% {
    opacity: 0;
    -webkit-transform: translateX(900px) rotate(-360deg);
            transform: translateX(900px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

@keyframes rollInrigtcorner {
  from {
    top: 0px;
    right: 0px;
  }
  0% {
    opacity: 0;
    -webkit-transform: translateX(900px) rotate(-360deg);
            transform: translateX(900px) rotate(-360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px) rotate(0deg);
            transform: translateX(0px) rotate(0deg);
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 500px;
  background: -webkit-gradient(linear, left top, left bottom, from(#141c35), to(#1b233a));
  background: linear-gradient(#141c35, #1b233a);
}

.about div {
  padding: 150px;
}

.aboutme {
  width: 49%;
}

.aboutmeImage {
  width: 50%;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

#mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 640px;
  min-width: 1024px;
  background-size: cover;
  background-repeat: no-repeat;
  color: #2495f1;
  background: -webkit-gradient(linear, left top, left bottom, from(#110d44), to(#141c35));
  background: linear-gradient(#110d44, #141c35);
}

#mainContainer p {
  margin: 0;
}

#mainContainer h1 {
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 70px;
}

#mainContainer h2 {
  font-family: 'Quintessential', cursive;
}

.abstractImage {
  position: absolute;
  left: -400px;
  top: 300px;
}

.vrtLine {
  background-color: #1e4b3c;
  height: 400px;
  width: 2px;
  position: fixed;
}
/*# sourceMappingURL=styles.css.map */