@import "./_header";
@import "./_footer";
@import "./_icons";
@import "./_aboutmeSection";

body{
    background-repeat: no-repeat;
    background-size:contain;
    margin: 0;
}

#mainContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 640px;
    min-width: 1024px;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(36, 149, 241);
    background: linear-gradient(rgb(17, 13, 68),rgb(20, 28, 53));
    p{
        margin: 0;
    }
    h1{
        font-family: 'Zen Kurenaido', sans-serif;
        font-size: 70px;
    }
    h2{
        font-family: 'Quintessential', cursive;
    }
}
.abstractImage{
    position: absolute;
    margin-left: 500px;
    overflow: hidden;
}
.vrtLine{
    background-color: rgb(30, 75, 60);
    height: 400px;
    width: 2px;
    position: fixed;
}